In [1]:
import requests
from http import client
from tqdm.notebook import tqdm
import json
import pandas as pd

In [2]:
api_conn = client.HTTPSConnection(
    'api.twitter.com',
)

headers = {
    'Authorization': r'Bearer AAAAAAAAAAAAAAAAAAAAABDxaAEAAAAAx2PtQqiAPWCdp%2BpRC0USF%2FEmZvs%3DdcXc6zV2m0Ixb7Cp1GVemtxMkqFIJUw8rdPh2qM8xSH7nNLQSb'
}

In [21]:
query_params = {

}

In [22]:
id = '1505273325114720258'

In [23]:
url = f'https://api.twitter.com/2/tweets/{id}'

In [27]:
response = requests.request('GET', url, headers=headers)

In [32]:
content = json.loads(response.content)

In [34]:
content['data']['text']

'RT @kylegriffin1: Reuters: Pope Francis, ramping up his implicit criticism of Russia, says the war in Ukraine is a "perverse abuse of powerâ€¦'

In [3]:
PAGE_SIZE = 100
PAGES = 400
url = 'https://api.twitter.com/2/tweets/search/recent'

query_params = {
    'query': 'ukraine',
    'max_results': 100,
    #'tweet_mode': 'extended'
}
out_df = pd.DataFrame(columns=['text'])

response = requests.request('GET', url, headers=headers, params=query_params)
response_content = json.loads(response.content)

next_token = response_content['meta']['next_token']
texts = [tweet['text'] for tweet in response_content['data']]

temp_df = pd.DataFrame({'text': texts})
out_df = pd.concat([out_df, temp_df])

for i in tqdm(range(PAGES - 1)):
    query_params['next_token'] = next_token

    response = requests.request('GET', url, headers=headers, params=query_params)
    response_content = json.loads(response.content)

    next_token = response_content['meta']['next_token']
    texts = [tweet['id'] for tweet in response_content['data']]

    temp_df = pd.DataFrame({'text': texts})
    out_df = pd.concat([out_df, temp_df]).reset_index(drop=True)

  0%|          | 0/399 [00:00<?, ?it/s]

In [6]:
out_df

                                                    text
0      RT @nolanwpeterson: Two US Army combat veteran...
1      The #ICC: â€œintentionally killing civiliansâ€¦unn...
2      ðŸ‡§ðŸ‡¬ OTAN rentre chez toi.\n\n  En Bulgarie, un ...
3      RT @NeilPHauer: The people in this city, the l...
4      This ðŸ‘‡ Note - The Russian crew get to pick the...
...                                                  ...
39939                                1505149431829643268
39940                                1505149431691321348
39941                                1505149431670358018
39942                                1505149431615836163
39943                                1505149431607443458

[39944 rows x 1 columns]

In [5]:
out_df = out_df.drop_duplicates().reset_index(drop=True)

In [48]:
#out_df.to_csv('tweets.csv', index=False)

In [64]:
import numpy as np

In [67]:
out_df

                                                    text
0      RT @JonJonesSnr: Jacob Rees-Mogg says Ukraine ...
1      RT @platon38900187: #ukraine AprÃ¨s nous avoir ...
2      RT @axumawi2022: â€œAbiy and Isaias have shown t...
3      Also everyone is expecting for the Deep State ...
4      RT @ABCNewsLive: "What we're seeing from the R...
...                                                  ...
14381  Odd how Johnson is suddenly keen on self-deter...
14382  RT @Le_Figaro: Ã€ 18 ans, Vadym sâ€™est engagÃ© da...
14383  #Ukraine/#Russia \nAircraft Action  #Belarus U...
14384  RT @oswinwaled: first what you can do is to ed...
14385  RT @DeadStateTweets: @joshtpm Lol. People can ...

[14386 rows x 1 columns]

In [72]:
out_df.loc[0]

text    RT @JonJonesSnr: Jacob Rees-Mogg says Ukraine ...
Name: 0, dtype: object

In [81]:
df2 = out_df.loc[np.array(list(map(lambda i: 'RT' not in out_df.loc[i]['text'], list(range(out_df.shape[0])))))].reset_index(drop=True)

In [83]:
df2.to_csv('no_retweets.csv', index=False)

In [85]:
out_df.to_csv('all_tweets.csv')

In [88]:
df2

                                                   text
0     Also everyone is expecting for the Deep State ...
1     S-300's to #Mariupol! ðŸ‡ºðŸ‡¦\n\n@ZelenskyyUa @NATO...
2     @gigachadcapital @MapsUkraine Gay marriage in ...
3     Acaba de publicar un video en Stand with the p...
4     @DaminaboEric should have just left him there ...
...                                                 ...
6987  Russia is constructing earthen berms to protec...
6988  Westport photographer captures the history of ...
6989  @Wandrwoman @Backtheblue911 There were parts o...
6990  Odd how Johnson is suddenly keen on self-deter...
6991  #Ukraine/#Russia \nAircraft Action  #Belarus U...

[6992 rows x 1 columns]

In [87]:
out_df

                                                    text
0      RT @JonJonesSnr: Jacob Rees-Mogg says Ukraine ...
1      RT @platon38900187: #ukraine AprÃ¨s nous avoir ...
2      RT @axumawi2022: â€œAbiy and Isaias have shown t...
3      Also everyone is expecting for the Deep State ...
4      RT @ABCNewsLive: "What we're seeing from the R...
...                                                  ...
14381  Odd how Johnson is suddenly keen on self-deter...
14382  RT @Le_Figaro: Ã€ 18 ans, Vadym sâ€™est engagÃ© da...
14383  #Ukraine/#Russia \nAircraft Action  #Belarus U...
14384  RT @oswinwaled: first what you can do is to ed...
14385  RT @DeadStateTweets: @joshtpm Lol. People can ...

[14386 rows x 1 columns]